body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 0.1s ease;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
